.caret-right {
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.dropdown-menu-left {
    
    top: 4px;
    left: 210px;
 }

 .maxFontSize{
    font-size:12pt;
 }

//  .dropdown-submenu {
//     position: relative;
// }

// .dropdown-submenu .dropdown-menu {
//     top: 0;
//     left: 100%;
//     margin-top: -1px;
// }